.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #1a3458;
    z-index: 100;
}

.footer-container a {
    color: #1a3458;
    text-decoration: none;
    margin: 0 5px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    text-align: right;
}