* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/Background.png);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

form {
    margin-bottom: 60px; /* Añade espacio extra en la parte inferior */
}

.form {
    background: #fff;
    width: 500px;    
    margin: auto;
    margin-top: 70px;
    padding: 30px 40px;
    box-shadow: 2px 2px 5px #1a3458;
}

.logo {
    width: 90px;
    height: 70px;
    background-image: url("../images/Secretario_logo.png");
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer; /* Cambia el cursor a pointer para indicar que es un enlace */
}

.header {
    width: auto;
    height: 70px;
    display: inline-block;
    position: absolute;
    padding: 10px;
    color: #1a3458;  
}

.field {
    width: 100%;
    margin: 0 auto 10px;
    padding: 7px;
    border: 1px solid #d4d2cd;
}

h4 {
    margin-bottom: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #274d83;
    color: #fff;
    border: none;
    margin: 10px auto;
}

.button:hover {
    background-color: #3b65a0;
}

.link {
    text-decoration: none;
    color: #4A6DA7;
}

footer {
    background-color: #EEEEEE;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Cambia la posición para que el footer no se superponga */
    margin-top: auto; /* Asegura que el footer esté al final de la página */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content, .right-content {
    padding: 0 10px;
}
