body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../images/Background.png);
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.custom-card:hover {
    transform: scale(1.02);
}

.custom-text-color {
    color: #1a3458;
}

.custom-btn {
    background-color: #1a3458 !important;
    color: #ffffff !important;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

.custom-btn:hover {
    background-color: #274d83 !important;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 80px; /* Adjust the size as needed */
    height: auto;
}

.new-account, .account {
    margin-top: 20px;
    display: block;
}

.new-account a, .account a {
    color: #1a3458;
    text-decoration: none;
}

.new-account a:hover, .account a:hover {
    text-decoration: underline;
}
