body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../images/Background.png);
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    max-width: 500px; /* Usa el mismo ancho máximo para todas las tarjetas */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    width: 500px;
}

.custom-card:hover {
    transform: scale(1.02);
}

.custom-text-color {
    color: #1a3458;
}

.custom-btn {
    background-color: #1a3458 !important;
    color: #ffffff !important;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

.custom-btn:hover {
    background-color: #274d83 !important;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.input-field input[type="text"], .input-field input[type="password"] {
    border-bottom: 1px solid #1a3458;
    box-shadow: none;
}

.input-field input[type="text"]:focus, .input-field input[type="password"]:focus {
    border-bottom: 2px solid #1a3458;
    box-shadow: none;
}

.input-field label {
    color: #1a3458;
}

.input-field label.active {
    color: #274d83;
}

/* Estilos para una mejor apariencia de los enlaces */
.new-account, .account {
    margin-top: 20px;
    display: block;
    text-align: center; /* Centrar los enlaces */
}

.new-account a, .account a {
    color: #1a3458;
    text-decoration: none;
}

.new-account a:hover, .account a:hover {
    text-decoration: underline;
}

/* Estilos del pie de página */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #1a3458;
}

.footer-container a {
    color: #1a3458;
    text-decoration: none;
    margin: 0 5px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    text-align: right;
}
