* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #CBDEF8;
    font-family: 'Arial', sans-serif;
}

.top-bar {
    background-image: url(../images/Background.png);
    height: 70px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url("../images/Secretario_minilogo.png");
    background-size: cover;
    margin-right: 20px;
}

.header h3 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.settings {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    margin-top: 50px;
    width: 90%;
}

.menu-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 30%;
}

.menu-card:hover {
    transform: scale(1.02);
}

.menu-bar {
    background-image: url(../images/Background.png);
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.icon {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-right: 20px;
}

.pub-icon {
    background-image: url("../images/Pub-icon.png");    
}

.form-icon {
    background-image: url("../images/form-icon.png");
}

.meeting-icon {
    background-image: url("../images/meeting-icon.png");
}

.menu-header {
    display: flex;
    flex-direction: column;
}

.menu-header h3 {
    margin: 5px 0;
}

.menu-title {
    padding: 10px 0;
}

.menu-content {
    padding: 20px;
    background-color: white;
}

.menu-content a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    font-size: 18px;
    color: #1a3458;
    transition: color 0.2s, text-decoration 0.2s;
}

.menu-content a:hover {
    text-decoration: underline;
    color: #274d83;
}