* {
    margin: 0;
    padding: 0; 
}

body {
    background-color: #CBDEF8;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-image: url(../images/Background.png);
    height: 50px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 50px;
    background-image: url("../images/Secretario_minilogo.png");
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.header {
    display: inline-block;
    color: white;
    align-self: center;
}

.settings {
    text-decoration: none;
    color: white;
    align-self: center;
    margin-right: 20px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    margin-top: 70px;
    width: 90%;
}

.menu-card {
    display: inline-block;
    width: 30%;
    height: auto;    
    box-shadow: 2px 2px 5px #274d83;
}

.menu-bar {
    background-image: url(../images/Background.png);
}

.icon {
    width: 79px;
    height: 70px;
    display: inline-block;
    margin: 20px 20px 20px 50px;
}

.pub-icon {
    background-image: url("../images/Pub-icon.png");    
}

.form-icon {
    background-image: url("../images/form-icon.png");
}

.meeting-icon {
    background-image: url("../images/meeting-icon.png");
}

.menu-header {
    width: auto;
    height: 50px;
    display: inline-block;    
    position: absolute;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}

.menu-title {
    padding: 10px;
}

.menu-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.menu-content a {
    display: block;
    margin: 20px 50px;
    text-decoration: none;
    font-size: 25px;
    color: #1a3458
}

.menu-content a:hover {
    text-decoration: underline;
    color: #446da7;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #1a3458;
}

.footer-container a {
    color: #1a3458;
    text-decoration: none;
    margin: 0 5px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    text-align: right;
}