* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.side-bar {
    background-color: #274d83;    
    width: 300px;
    height: 100vh;
    position: absolute;
    z-index: 50;
    top: 50px;
    left: 0;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
}

.option {
    margin: 60px;
}

.option-link {    
    font-size: 20px;        
    color: white;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilos específicos para la lista de informes pendientes */
ul#pending-reports-list {
    list-style-type: none;
    padding: 0;
}

ul#pending-reports-list li {
    margin-bottom: 5px;
}

/* Estilos para la tabla responsiva */
@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
        display: block;
    }
}
