* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: #CBDEF8;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-image: url(../images/Background.png);
    height: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url("../images/mini_Logo_placeholder.png");
    display: inline-block;
    margin-bottom: 20px;
}

.header {
    width: auto;
    height: 50px;
    display: inline-block;
    position: absolute;
    padding-top: 13px;
    padding-left: 20px;
    color: white;
}

.side-bar {
    background-color: #274d83;    
    width: 300px;
    height: 100vh;
    display: inline-block;
    box-shadow: 2px -2px 5px black;
}

.option {
    margin: 60px;
}

.option-link {    
    font-size: 20px;        
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    position: absolute;
    display: inline-block;
    margin: 80px;
    color: #1a3458;   
}

h1 {
    margin: 30px 0 10px;
}

.field {
    width: 300px;
    margin: 10px 0;
    padding: 7px;
}

.button {
    width: 100px;
    padding: 9px;
    background-color: #274d83;
    color: #fff;
    border: none;
    margin: 10px auto;
}

.button:hover {
    background-color: #3562a0;
}

hr {
    margin-top: 30px;
}

p {
    color: #d36e2b;
    font-size: 20px;
}

footer {
    background-color: #EEEEEE;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}